/***********************************************/
/*********** Define base color style ***********/
/***********************************************/

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --gray: #F2F2F2;
}

/*******************************************/
/*********** Base style of Booki ***********/
/*******************************************/

* {
    flex-wrap: wrap;
    color: black;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    margin: 8px 0;
}

h2 {
    font-size: 22px;
    margin: 5px 0 10px 0;
    font-weight: 700;
}

h3 {
    margin: 5px 0;
    font-weight: 700;
    font-size: 16px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex.justify-center {
    justify-content: center;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
    align-content: center;
}

.font-18px-bold {
    font-weight: 700;
    font-size: 18px;
}

.border {
    border-style: solid;
    border-color: var(--gray);
    border-width: 2px;
}

.bg-section {
    background: var(--gray);
    border-radius: 20px;
    padding: 30px;
}

.card {
    width: 31%;
}

.card article {
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.22);
    margin: 10px 0;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: white;
}

.card .card-infos {
    margin: 0 15px;
}

.card p, .card .stars {
    margin: 6px 0;
    font-size: 14px;
}

.card p span {
    font-weight: 600;
}

.card .stars :nth-child(-n+4) {
    color: var(--blue);
}

.card .stars :last-child {
    color: var(--gray);
}

/*********************************************/
/*********** Custom style of Booki ***********/
/*********************************************/

/* Root style */
body {
    margin: 0;
}

.ct-main {
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto;
}

/* Style of header */
.booki-logo img {
    height: 25px;
}

nav ul {
    list-style: none;
    margin: 0 0 15px 0;
}

nav a {
    padding: 25px 25px 10px 25px;
    display: inline-block;
    border-top-color: transparent;
    border-top-width: 2px;
    border-top-style: solid;
    transition-property: color, border-top-color, border-bottom-color;
    transition-duration: 0.3s;
}

nav a:hover {
    color: var(--blue);
    border-top-color: var(--blue);
    font-weight: 500;
}

/* Search section */
#search {
    margin: 40px 0 20px 0;
}

#search p {
    margin: 0 0 20px 0;
}

.input {
    height: 3rem;
}

#search form label {
    padding: 0 18px;
    background: var(--gray);
    border-radius: 15px 0 0 15px;
}

.input-search {
    padding: 0 10px;
    width: 25%;
    min-width: 200px;
    border-style: solid hidden solid hidden;
}

.input-submit {
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
    border-style: hidden;
    background: var(--blue);
}

.desktop-show {
    color: white;
}

i.mobile-show {
    display: none;
    color: white;
}

/* Filters section */
#filters {
    margin: 20px 0;
}

#filters span {
    margin-right: 20px;
}

.btn-filter {
    background: transparent;
    border-radius: 100px;
    padding: 8px 15px;
    margin: 10px;
    font-size: 17px;
    transition: background-color 0.3s;
}

.btn-filter:hover {
    background: var(--light-blue);
}

.btn-filter i {
    color: var(--blue);
    margin-right: 5px;
}

.p-info {
    flex-wrap: nowrap;
}

.p-info i {
    width: 1em;
    height: 1em;
    border-radius: 50px;
    text-align: center;
    color: var(--blue);
    font-size: 0.7em;
    padding: 5px;
    margin-right: 10px;
}

/* Hosting section */
.show-more {
    margin-top: 20px;
    margin-left: 10px;
}

#hosting {
    width: 57%;
    margin-right: 10px;
}

#hosting h3 {
    height: 38px;
}

#hosting h2 {
    margin-left: 0;
}

/* Hosting favorites section */
#hosting-fav {
    width: 28%;
}

#hosting-fav .head {
    margin-bottom: 10px;
}

#hosting-fav h2 {
    margin-bottom: 5px;
}

#hosting-fav .head i {
    color: var(--blue);
}

#hosting-fav .card {
    width: 100%;
}

#hosting-fav .card article {
    flex-wrap: nowrap;
    height: 140px;
}

#hosting-fav .card img {
    height: 100%;
    width: 38%;
    border-radius: 20px 0 0 20px;
    border-width: 5px 0 5px 5px;
}

#hosting-fav .card .card-infos {
    margin: 10px 15px;
}

/* Activities section */
#activities {
    margin: 60px 0;
}

#activities h2 {
    margin-bottom: 15px;
}

#activities .card {
    width: 22%;
}

#activities .card img {
    height: 400px;
    border-style: none;
}

#activities .card h3 {
    margin: 15px 20px;
    height: 38px;
}

/* Footer section */
footer {
    background: var(--gray);
    padding: 45px 70px;
    flex-wrap: nowrap;
}

footer section {
    margin-right: 10%;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin: 10px 0;
}

/* Media query tablet */
@media all and (max-width: 991px) {
    #filters span {
        font-size: 16px;
        margin-right: 10px;
    }

    .btn-filter {
        margin: 4px;
        padding: 6px 13px;
        font-size: 15px;
    }

    h3 {
        font-size: 14px;
    }

    .card p, .card .stars {
        font-size: 13px;
    }

    .flex.mobile-column {
        flex-direction: column;
    }

    .flex.tablette-row-justify {
        flex-direction: row;
        justify-content: space-between;
    }

    #hosting {
        width: auto;
        margin: 0 0 30px 0;
    }

    #hosting h3 {
        height: auto;
    }

    #hosting-fav {
        width: auto;
    }

    #hosting-fav .card {
        width: 32%;
    }

    #hosting-fav .card article {
        height: 160px;
    }

    #activities article h3 {
        height: 32px;
    }

    #activities .card img {
        height: 200px;
    }
}

/* Media query mobile */
@media all and (max-width: 767px) {
    .ct-main {
        padding: 0;
    }

    header.flex.row {
        flex-direction: column;
        align-items: center;
    }

    .booki-logo {
        margin: 20px;
    }

    header nav {
        width: 100%;
    }

    header nav ul {
        padding: 0;
        margin: 0;
    }

    header nav li {
        width: 50%;
    }

    header ul a {
        padding: 20px 0;
        text-align: center;
        width: 100%;
        border-top: none;
        border-bottom-color: var(--gray);
        border-bottom-style: solid;
        border-bottom-width: 3px;
    }

    nav a:hover {
        border-top-color: transparent;
        border-bottom-color: var(--blue);
    }

    #filters div.flex.align-center {
        flex-direction: column;
        align-items: start;
    }

    #filters div.flex.row {
        justify-content: space-between;
        margin-top: 10px;
    }

    .btn-filter {
        width: 46%;
        min-height: 52px;
    }

    .p-info.flex {
        align-items: start;
    }

    #search, #filters, #activities {
        padding: 0 20px;
    }

    #location {
        width: calc(100% - 108px);
        min-width: auto;
    }

    .desktop-show {
        display: none;
    }

    i.mobile-show {
        display: block;
    }

    .mobile-column.flex {
        flex-direction: column-reverse;
    }

    #hosting-fav {
        border-radius: 0;
        padding: 20px;
    }

    .tablette-row-justify.flex {
        flex-direction: column;
    }

    #hosting-fav .card {
        width: 100%;
    }

    #hosting-fav .card article {
        height: 130px;
    }

    #hosting {
        background: transparent;
        padding: 20px;
    }

    #hosting .card {
        width: 100%;
    }

    #hosting .show-more {
        display: none;
    }

    #activities div.flex.row {
        flex-direction: column;
    }

    #activities .card {
        width: 100%;
    }

    #activities .card img {
        height: 150px;
    }

    #activities .card h3 {
        height: auto;
    }

    footer.flex.row {
        flex-direction: column;
        padding: 30px;
    }

    footer section {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}