/*********************************************/
/*********** Custom style of Booki ***********/
/*********************************************/

/* Root style */
body {
    margin: 0;
}

.ct-main {
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto;
}

/* Style of header */
.booki-logo img {
    height: 25px;
}

nav ul {
    list-style: none;
    margin: 0 0 15px 0;
}

nav a {
    padding: 25px 25px 10px 25px;
    display: inline-block;
    border-top-color: transparent;
    border-top-width: 2px;
    border-top-style: solid;
    transition-property: color, border-top-color;
    transition-duration: 0.3s;
}

nav a:hover {
    color: var(--blue);
    border-top-color: var(--blue);
    font-weight: 500;
}

/* Search section */
#search {
    margin: 40px 0 20px 0;
}

#search p {
    margin: 0 0 20px 0;
}

.input {
    height: 3rem;
}

#search form label {
    padding: 0 18px;
    background: var(--gray);
    border-radius: 15px 0 0 15px;
}

.input-search {
    padding: 0 10px;
    width: 25%;
    min-width: 200px;
    border-style: solid hidden solid hidden;
}

.input-submit {
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
    border-style: hidden;
    background: var(--blue);
}

.desktop-show {
    color: white;
}

i.mobile-show {
    display: none;
    color: white;
}

/* Filters section */
#filters {
    margin: 20px 0;
}

#filters span {
    margin-right: 20px;
}

.btn-filter {
    background: transparent;
    border-radius: 100px;
    padding: 8px 15px;
    margin: 10px;
    font-size: 17px;
    transition: background-color 0.3s;
}

.btn-filter:hover {
    background: var(--light-blue);
}

.btn-filter i {
    color: var(--blue);
    margin-right: 5px;
}

.p-info {
    flex-wrap: nowrap;
}

.p-info i {
    width: 1em;
    height: 1em;
    border-radius: 50px;
    text-align: center;
    color: var(--blue);
    font-size: 0.7em;
    padding: 5px;
    margin-right: 10px;
}

/* Hosting section */
.show-more {
    margin-top: 20px;
    margin-left: 10px;
}

#hosting {
    width: 57%;
    margin-right: 10px;
}

#hosting h2 {
    margin-left: 10px;
}

/* Hosting favorites section */
#hosting-fav {
    width: 28%;
}

#hosting-fav .head {
    margin-bottom: 10px;
}

#hosting-fav h2 {
    margin-bottom: 5px;
}

#hosting-fav .head i {
    color: var(--blue);
}

#hosting-fav .card {
    width: 100%;
}

#hosting-fav .card article {
    flex-wrap: nowrap;
    height: 140px;
}

#hosting-fav .card img {
    height: 100%;
    width: 38%;
    border-radius: 20px 0 0 20px;
    border-width: 5px 0 5px 5px;
}

#hosting-fav .card .card-infos {
    margin: 10px 15px;
}

/* Activities section */
#activities {
    margin: 60px 0;
}

#activities h2 {
    margin-bottom: 15px;
}

#activities .card {
    width: 22%;
}

#activities .card img {
    height: 400px;
    border-style: none;
}

#activities .card h3 {
    margin: 15px 20px;
}

/* Footer section */
footer {
    background: var(--gray);
    padding: 45px 70px;
    flex-wrap: nowrap;
}

footer section {
    margin-right: 10%;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin: 10px 0;
}

/* Media query tablette */
@media all and (max-width: 992px) {
    h3 {
        font-size: 14px;
    }

    .card p, .card .stars {
        font-size: 13px;
    }

    .flex.mobile-column {
        flex-direction: column;
    }

    .flex.tablette-row-justify {
        flex-direction: row;
        justify-content: space-between;
    }

    #hosting {
        width: auto;
        margin: 0 0 30px 0;
    }

    #hosting-fav {
        width: auto;
    }

    #hosting-fav .card {
        width: 32%;
    }

    #hosting-fav .card article {
        height: 160px;
    }

    #activities .card img {
        height: 200px;
    }
}