/*********************************************/
/*********** Custom style of Booki ***********/
/*********************************************/

/* Root style */
body {
    margin: 0 40px;
}

.ct-main {
    width: 100%;
    max-width: 1300px;
}

/* Style of header */
.booki-logo img {
    height: 25px;
}

nav ul {
    list-style: none;
    margin: 0 0 15px 0;
}

nav a {
    padding: 25px 25px 10px 25px;
    display: inline-block;
    border-top-color: transparent;
    border-top-width: 2px;
    border-top-style: solid;
    transition-property: color, border-top-color;
    transition-duration: 0.3s;
}

nav a:hover {
    color: var(--blue);
    border-top-color: var(--blue);
    font-weight: 500;
}

/* Search section */
#search {
    margin: 40px 0 20px 0;
}

#search p {
    margin: 0 0 20px 0;
}

.input {
    height: 3rem;
}

#search form label {
    padding: 0 18px;
    background: var(--gray);
    border-radius: 15px 0 0 15px;
}

.input-search {
    padding: 0 10px;
    width: 25%;
    min-width: 200px;
    border-style: solid hidden solid hidden;
}

.input-submit {
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
    border-style: hidden;
    background: var(--blue);
    color: white;
}

.input-submit.mobile {
    display: none;
}

.input-submit.mobile i {
    color: white;
}

/* Filters section */
#filters {
    margin: 20px 0;
}

#filters span {
    margin-right: 20px;
}

.btn-filter {
    background: transparent;
    border-radius: 100px;
    padding: 8px 15px;
    margin: 10px;
    transition: background-color 0.3s;
}

.btn-filter:hover {
    background: var(--light-blue);
}

.btn-filter i {
    color: var(--blue);
    margin-right: 5px;
}

.p-info i {
    width: 1em;
    height: 1em;
    border-radius: 50px;
    text-align: center;
    color: var(--blue);
    font-size: 0.7em;
    padding: 5px;
    margin-right: 10px;
}

/* Hosting section */
.show-more {
    margin-top: 20px;
    margin-left: 10px;
}

#hosting {
    width: 57%;
    max-width: 748px;
}

#hosting h2 {
    margin-left: 10px;
}